# Global ignores for context at repo root
.git
.gitignore
node_modules
**/node_modules
pnpm-lock.yaml
yarn.lock
package-lock.json
.DS_Store
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode
.idea
.env
.env.*
**/.next/cache
**/.turbo
**/dist
**/build
**/.vercel
**/.pnpm-store
**/.cache
**/coverage